<!DOCTYPE html>
<html lang="en">
<head>

    <style>

    </style>

</head>

<body>

<div>

    <h2>Information</h2>
    <table id="main-table">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Authors</th>
            <th>Info</th>
            <th>Link to reviews</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row.Title}}</td>
            <td>{{ row.description }}</td>
            <td>{{ row.authors }}</td>
            <td>{{ row.infoLink }}</td>
            <td><input type="button" value="Go to review" onclick="open_review('{{ row.Title }}');" /></td>
        </tr>

        {% endfor %}
    </table>
</div>

<script>

    function open_review(book_title) {
        window.open(`/reviews?title=${book_title}`);
    }
</script>

</body>