<!DOCTYPE html>
<html lang="en">
<head>

    <style>

    </style>

</head>

<body>

<label for="input_text">Search:</label>
<input type="text" id="input_text">

<button type="button" id="books">Find Books from authors</button>
<button type="button" id="info">Find info on books</button>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>

<script>


    document.getElementById("books").addEventListener("click", get_books_from_author);
    document.getElementById("info").addEventListener("click", get_info_on_book);

    function open_page(link) {
        window.open(link);
    }

    function reset_input() {
        document.getElementById("input_text").value = "";
    }

    function get_info_on_book() {
        const title = document.getElementById("input_text").value;
        reset_input();
        if (title === "" || !title) {return;}

        open_page(`/info?title=${title}`)
    }

    function get_books_from_author() {
        const author = document.getElementById("input_text").value;
        reset_input();
        if (author === "" || !author) {return;}

        open_page(`/books?author=${author}`)
    }


</script>


</body>


</html>